@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: rgb(255, 255, 255);
    --color-neutral-30: hsl(0, 0%, 0%);
    --color-neutral-40: #000000;

}

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

main {
    height: 80vh;
}

footer {
    width: 100%;
    color: var(--color-neutral-40);
}



#footer_content {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem ;
    height:13rem;
}

#footer_contacts h1 {
    margin-bottom: 0.5rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
} 

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
    margin: -2%;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
    
}

#facebook {
    background-color: rgb(28, 130, 170);
}

#whatsapp {
    background-color: #25d366;
}

#youtube{
    background-color: red;
    
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list :hover {
    color: #000000;
    text-decoration:none ;
}

.footer-link {
    text-decoration: none;
    color: var(--color-neutral-30)
}

.footer-link:hover {
    text-decoration: underline;
}
.footer-phone{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    list-style: none;

}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: var(--color-neutral-30);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #03326b;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}



.image-pref{
    padding: 0;
    height: 9vh;
    left:50%;
    display: flex;
    background-color: rgba(245, 222, 179, 0);
    justify-content: center;
    border-radius: 3px;
    margin-top: 7%;
}
.img-miniatura{
    padding: 0;
    height: 17vh;
    top: 30%;
    left:50%;
    display: flex;
    background-color: rgba(245, 222, 179, 0);
    justify-content: center;
    border-radius: 3px;
    margin-top:8%;
    max-width: 100%;
}

.footer-div{
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 1640px){
    .img-miniatura{
        margin-top: 5%;
    }
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .footer-div{
        display: flex;
        justify-content: center;
    }

}
@media screen and (max-width: 1664px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        display: flex;
        justify-content: center;
    }
    .footer-div{
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

@media screen and (max-width: 1336px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        display: flex;
        justify-content: center;
    }
    .footer-div{
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
        display: flex;
        justify-content: center;
    }
    .footer-div{
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
@media screen and (max-width: 768px){
    .img-miniatura{
        margin-top: 5%;
    }
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        display: flex;
        justify-content: center;
    }
    .footer-div{
        display: flex;
        justify-content: center;
        width: 100%;
    }

}
@media screen and (max-width: 426px){
    .img-miniatura{
        margin-top: 5%;
    }
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        display: flex;
        justify-content: center;
    }
    .footer-div{
    display: flex;
    justify-content: center;
    width: 100%;
    }
}