@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

:root {
    --color-background: #03326b; /* Cor de fundo */
    --color-primary: #ffffff; /* Cor do texto principal */
    --color-secondary: #000000; /* Cor do texto secundário */
}

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

body {
    background-color: var(--color-background); /* Cor de fundo da tela */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    height: 90vh; 
    color: black;


    
    
}

h1 {
    margin-bottom: 1rem;
    color:white;
}

.img-miniatura {
    padding: 0;
    height: 17vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 2rem;
}

.img-miniatura img {
    max-width: 35%; /* Faz a imagem se ajustar ao tamanho do container */
    height: auto; /* Mantém a proporção da imagem */
}

form {
    width: 100%; /* Largura total */
    max-width: 400px;
     /* Limita a largura máxima do formulário */
}

.input-group {
    display: flex;
    margin-bottom: 1rem; /* Espaço entre os inputs */
}

.input-group input {
    all: unset;
    padding: 1rem;
    width: 70%; /* Largura total */
    border: 1px solid; /* Borda do input */
    border-radius: 4px;
    background-color: white;
    color: black;
    margin-bottom: -5px;
    margin: -5px;
    margin-left: 50px;

}

.input-group button {
    background-color: white;
    border: none;
    color: #03326b;
    padding: 0.75rem 1.25rem;
    font-size: 1.125rem;
    border-radius: 4px; /* Bordas arredondadas */
    cursor: pointer;
    transition: opacity 0.4s;
    width: 78.3%;
    margin: -5px;
    margin-left: 50px;
}

.input-group button:hover {
    opacity: 0.8;
}



span {
    color: var(--color-primary);
    margin-left: 20px;
}


/* Responsividade */
@media (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 426px) {
    #footer_content {
        grid-template-columns: 1fr; /* Uma coluna em telas pequenas */
    }
}
